<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Python Addin</Name><AddInID>{8ba64fa9-68b8-4c5d-be90-e6b744442c8c}</AddInID><Description>Event Tester</Description><Version>0.1</Version><Image>Images\draakje.png</Image><Author>Untitled</Author><Company>Untitled</Company><Date>04/16/2018</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="PythonAddin_addin.py" namespace="PythonAddin_addin"><ArcMap>
    <Commands>
        <Button caption="TestButton" category="Python Addin" class="TestButtonClass" id="PythonAddin_addin.button" image="Images\draakje_1.png" message="We're just testing" tip="TEST! TEST!"><Help heading="" /></Button>
        </Commands>
    <Extensions>
        <Extension autoLoad="true" category="Python Addin" class="ExtensionTest" description="" id="PythonAddin_addin.extTest" name="Test Extension" productName="Test Extension" showInExtensionDialog="true" />
        </Extensions>
    <Toolbars>
        <Toolbar caption="TestToolbar" category="Python Addin" id="PythonAddin_addin.toolbar" showInitially="true"><Items><Button refID="PythonAddin_addin.button" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>